@model IEnumerable<QuanLyNhanSu.Entity.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý phòng ban</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                <div><a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-primary">Edit</a></div>
                <div class="my-2"><a asp-action="Details" asp-route-id="@item.DepartmentId" class="btn btn-info">Details</a></div>
                <div><a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger">Delete</a></div>
            </td>
        </tr>
}
    </tbody>
</table>
