@model IEnumerable<QuanLyNhanSu.Entity.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                <div><a asp-action="Edit" asp-route-id="@item.ProjectId" class="btn btn-primary">Edit</a></div>
                <div class="my-2"><a asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-info">Details</a></div>
                <div><a asp-action="Delete" asp-route-id="@item.ProjectId" class="btn btn-danger">Delete</a> </div>
            </td>
        </tr>
}
    </tbody>
</table>
