@model IEnumerable<QuanLyNhanSu.Entity.Relative>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý thân nhân</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RelativeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RelativeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RelativeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
